.row {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.btn {
  background-color: #e5f7fa;
  color: #0093dc;
  border-radius: 1rem;
  border: 2px solid #0093dc;

  &:hover {
    background-color: #0093dc;
    color: #e5f7fa;
  }
}

.flex {
  float: right;
  padding: 0 20px;
}

.row1 {
  background: #0093dc;
  /* box-shadow: 0px 14px 40px rgba(0, 0, 0, 0.15); */
  /* border-radius: 10px; */
  height: 132px;
}

.row2 {
  background-color: transparent;
  color: #0093dc;
  border: 2px solid #0093dc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img {
  background-position: center;
  background-size: cover;
}

.heading {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-size: 34px;
  line-height: 54px;
  color: #0093dc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 163px;
  height: 20px;
  float: right;
  /* border: 1px solid #0093DC; */
  border-radius: 10px;

  background-color: transparent;
}

.after {
  opacity: 0;
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-size: 34px;
  line-height: 51px;
  color: #0093dc;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.nav-link {
  background-color: #0093dc;
  color: white;

  &:hover {
    background-color: white;
    color: #0093dc;
  }
}

@media only screen and (max-width: 1000px) {
  .row {
    padding: 0;
  }

  .after {
    opacity: 5;
  }

  .heading {
    opacity: 0;
    display: none;
  }
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

/* navbar styling  */
.container-fluid {
  background: #0093dc;
}

a {
  color: #ffffff;
}

@media only screen and (max-width: 1000px) {
  .row {
    padding: 0;
  }
  .navbar-nav {
    gap: 0.2rem;
  }

  .container-fluid {
    background-color: #0093dc;
    color: white;
  }

  .navbar-nav {
    display: inline-block;
  }
}

.collapse ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

@media only screen and (max-width: 800px) {
  .row {
    padding: 0;
  }
  .lug {
    padding-right: 0;
    float: right;
  }
}
