<!-- <section class="section">
  <div class="box-1">
    <h1>Apply Online</h1>
    <div class="content">
      <button class="icon-box-1">
        <img src="../../../../assets/landing-page-icons/Group 105.png" />
        <p>Pay Bill</p>
      </button>
      <button class="icon-box-2">
        <img src="../../../../assets/landing-page-icons/ICON 20.png" />
        <p>New Connection</p>
      </button>
      <button class="icon-box-3">
        <img src="../../../../assets/landing-page-icons/Group 108.png" />
        <p>Track New Connection</p>
      </button>
    </div>
  </div>
  <div class="box-2">
    <h1 style="font-size: 20px">
      Janasnehi Vidyut Sevegalu
      <span> Fast Track Services</span>
    </h1>
    <div class="content">
      <button class="icon-box-1">
        <img src="../../../../assets/landing-page-icons/ICON 20.png" />
        <p>New Connection</p>
      </button>
      <button class="icon-box-2">
        <img src="../../../../assets/landing-page-icons/Tap.png" />
        <p>Tapping Connection</p>
      </button>
      <button class="icon-box-3">
        <img src="../../../../assets/landing-page-icons/Group 108.png" />
        <p>Track Connection</p>
      </button>
    </div>
  </div>
</section> -->
<div class="conatiner text-center blogs">
  <h1 class="bescom">Latest News & Blog From BESCOM</h1>
  <div class="search">
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
  <br />
  <div class="container text-center">
    <div class="row gap">
      <div class="col-4 post">
        <div class="container">
          <h1 class="text-center">[Trending topics]</h1>
          <div class="a-tag">
            <div class="d-grid gap-2 col-6 mx-auto">
              <button class="btn active" type="button">Solar Plant</button>
              <button class="btn" type="button">electricity</button>
              <button class="btn" type="button">Project Panel</button>
              <button class="btn" type="button">Power</button>
              <button class="btn" type="button">HT</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8 wall gap bg-img">
        <div class="card" style="width: 772px">
          <img
            src="../../../../../assets/landing-page-icons/image 16.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">
              Proposed tariff revisions os Bescom Will benefit most domestic and
              HT comsumers
            </h5>
            <p class="card-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto
              delectus odit suscipit esse. Excepturi soluta odit delectus
              provident repudiandae saepe.
            </p>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="row cards">
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../../assets/landing-page-icons/image 17.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Parts of Bengaluru to face power cuts on tuesday, wednesday;check
              areas here
            </p>
            <h6 class="card-title">Wednesday, November 30</h6>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../../assets/landing-page-icons/image 18.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              4 yrs after launch , rooftop solar project geta a push
            </p>
            <h6 class="card-title">Wednesday, November 30</h6>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem">
          <img
            src="../../../../../assets/landing-page-icons/image 20.png"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <p class="card-text">
              Bengaluru:Bescom give a rooftop solar systems the cold shoulder
            </p>
            <h6 class="card-title">October 26, 2022</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
