<div class="container pf1 text-center">
  <h1 class="info">Other Information</h1>
</div>

<div class="container text-center" style="padding: 0 3rem 3rem 3rem">
  <div class="row row-cols-5">
    <div class="col box text-white">
      <img src="../../../../../assets/landing-page-icons/svg/mis.svg" /><a
        href="#"
      >
        MIS Reports
      </a>
    </div>
    <div class="col box text-white">
      <img src="../../../../../assets/landing-page-icons/svg/rapdrp-sub.svg" />
      <a href="#"> RAPDRP </a>
    </div>
    <div class="col box text-white">
      <img src="../../../../../assets/landing-page-icons/svg/rapdrp.svg" />
      <a href="#"> RAPDRP Towns </a>
    </div>
    <div class="col box text-white">
      <img src="../../../../../assets/landing-page-icons/svg/emergency.svg" />
      <a href="#"> Emergency Contact </a>
    </div>
    <div class="col box text-white">
      <img src="../../../../../assets/landing-page-icons/svg/emg-contact.svg" />
      <a href="#"> Emergency Contact Tracker </a>
    </div>
  </div>
</div>
