.info {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 119.02%;
  /* identical to box height, or 38px */

  color: #0093dc;
}

.col {
  background-color: #0093dc;
  height: 106px;
  padding: 2rem;
}

.box {
  display: flex;
  flex-direction: column;
  border-right: 2px solid white;
  justify-content: center;
  align-items: center;

  img {
    width: 30px;
    cursor: pointer;
  }

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}
