<div class="container text-center" style="padding: 0 2rem 2rem 2rem">
  <div class="row row2">
    <div class="col-sm-12 head">
      <span class="left" style="float: left">Apply Online</span>
      <span class="left">Janasnehi Vidyuth Sevegalu</span>
    </div>
  </div>
  <div class="row row1">
    <div class="col-sm bdr">
      <button class="icon-box-1">
        <img src="../../../../assets/landing-page-icons/Group 105.png" />
        <p>Pay Bill</p>
      </button>
      <button class="icon-box-2">
        <img src="../../../../assets/landing-page-icons/ICON 20.png" />
        <p>New Connection</p>
      </button>
      <button class="icon-box-3">
        <img src="../../../../assets/landing-page-icons/Group 108.png" />
        <p>Track New Connection</p>
      </button>
    </div>
    <div class="col-sm">
      <button class="icon-box-1">
        <img src="../../../../../assets/landing-page-icons/ICON 20.png" />
        <p>New Connection</p>
      </button>
      <button class="icon-box-2">
        <img src="../../../../../assets/landing-page-icons/Group 115.png" />
        <p>Tapping Connection</p>
      </button>
      <button class="icon-box-3">
        <img src="../../../../assets/landing-page-icons/Group 108.png" />
        <p>Track New Connection</p>
      </button>
    </div>
  </div>
</div>
